<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba SAS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css"> 
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="mod-logo">
            <a href="/"><img src="static/image/logo.png" alt="Redjurista.com" class="mobilizater"></a>
        </div>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-light" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('contacto')">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="loadPage('acerca')">Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content">
        <div class="container">
            <h1 class="text-center my-4">ESTATUTOS TRIBUTARIOS</h1>
            <a href='#' onclick='listModal()' class="btn btn-light tab-button">
                <div class="card">
                    <div class="row">
                        <div class="col-12 text-center">
                                <strong id="metadatos"> </strong>
                            
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col"><strong id="tagexpeditionDate" class="col-12 text-justify"></strong></div>
                                        <div class="col"><p id="expeditionDate" class="col-12 text-justify"><p></p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col"><strong id="tagpublishDate" class="col-12 text-justify"></strong></div>
                                        <div class="col"><p id="publishDate" class="col-12 text-justify"><p></p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col"><strong id="tagDescripcion" class="col-12 text-justify"></strong></div>
                                        <div class="col"><p id="description" class="col-12 text-justify"><p></p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </a>
            <br>
            <div id="texto"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3 bg-dark text-white">
            &copy; 2024 Jurídico SAS. Todos los derechos reservados. desarrollado por: Jasulbaran
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="static/js/script.js"></script>
</body>

</html>